@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overscroll-behavior-y: none;
  font-family: 'Inter var', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #ddd;
  background: #0a1c1d;
  background-image: url('../public/summer.jpeg');
  background-position: center top;
}

a {
  pointer-events: all;
  color: #ddd;
  text-decoration: none;
}

svg {
  fill: #ddd;
}

h1 {
  background: linear-gradient(30deg, #1a223b, #c6cbdf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #1a223b;
}

h2 a {
  color: #374267;
}

h2 a:hover {
  background: linear-gradient(30deg, #374267, #ffd596);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
